#top-page{
    background-image: url(https://images.pexels.com/photos/261986/pexels-photo-261986.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

header{
    height: 50vh;
    background: center 75% / cover no-repeat;
    margin: 0;
    padding: 6rem ;
}