*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: #f0f2f3;
}

.top-page{
    background: url('../images/girl-working-on-engine.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
}

.how-to-page{
    background: url('../images/man-working-on-car.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-top-page{
    background-image: url('../images/open-bonnet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    padding: 6rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

.diagnose{
    text-align: center;
    max-width: 600px;
    max-height: 350px;
    overflow: hidden;
}

.my-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 0 0 4rem 0;
}

.card-body{
    background-color: #f0f2f3;
}

.mycard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin: auto;
    width: auto;
    height: auto;
    text-align:center;
    background-color: #f0f2f3;
    background-clip: border-box;
    border-radius: 0.25rem;
}
.neontext {
    color:#fff;
    text-shadow:
    0 0 7px black,
    0 0 10px black,
    0 0 21px black,
    0 0 42px #3e3e42,
    0 0 82px #3e3e42,
    0 0 92px #3e3e42,
    0 0 102px #3e3e42,
    0 0 151px #3e3e42;
}

/*how-to.css*/

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

iframe{
    height: 450px;
    width: 100%;
}

video{
    width: 100%;
    height: 340px;
}

.video{
    width: 100%;
    height: 340px;
    width: 600px;
}

section{
    display: block;
}

.map-heading{
    padding: 2.5rem 0 1rem ;
}

#map-wrapper {
    height: 390px;
    margin-bottom: 0px;
}

#map {
    height: 90%;
    width: 100%;
    border: none;
}

footer {
	background-color: #A9A9A9;
    height: 70px;
	padding: 1rem;
    margin-top: 50px;
    width: 100%;
    bottom: 0;
    right: 0;
	z-index: 3;
}

footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

.card{
    border: none;
}

ol{
    list-style: none;
}

/* for container on contact.htlm*/

.contact-container{
    text-align: justify;
    width: 700px;
    border-radius: 0;
    margin: auto;
    margin-top: 15rem;
    margin-left: 50%;
    background-color: #f0f2f3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation-duration: 1.5s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
    margin-left: 100%;
    width: 2100px;
}

    to {
    margin-left: 50%;
    width: 700px;
    }
}

.contact-container input[type="text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.contact-container input[type="text"]:focus{
	width: 250px;
	border-color: red;
}

.contact-container textarea{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 300px;
    height: 100px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.contact-container textarea:focus{
	width: 350px;
	border-color: red;
}

.contact-container input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid green;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.contact-container input[type="submit"]:hover{
    background-color: green;
}

.contact-container input:focus::placeholder {
    color: transparent;
}

 .contact-container textarea:focus::placeholder {
    color: transparent; 
}


  /*media for all .html's*/

@media screen and (max-width: 950px){
    .diagnose{
        text-align: left;
        overflow-x: hidden;
        overflow-y:auto;
    }
    
}

@media screen and (max-width: 768px){
    video {
        width: 100%;
        margin: auto;
        padding: 30px;
    }

    .videos{
        padding: 0px;
        margin: auto;
        width: 100%;
    }
}

@media screen and (max-width: 425px){
    video{
        margin: auto;
        width: 90%;
        padding: 30px;
    }
}

@media screen and (max-width: 320px){
    #map{
        width: 320px;
        height: 80%;
    }

    footer > p {
        font-size: small;
    }

    video {
        height: 250px;
        width: 100%;
        margin: auto;
        padding: 10px;
    }

    .videos{
        width: 100%;
        height: 50%;
        margin: auto;
    }
}