.top-page{
    background: url('../images/girl-working-on-engine.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
}
.diagnose{
    text-align: center;
    max-width: 600px;
    max-height: 350px;
    overflow: hidden;
}

.mycard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin: auto;
    width: auto;
    height: auto;
    text-align:center;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
}
.neontext {
    color:#fff;
    text-shadow:
    0 0 7px black,
    0 0 10px black,
    0 0 21px black,
    0 0 42px #3e3e42,
    0 0 82px #3e3e42,
    0 0 92px #3e3e42,
    0 0 102px #3e3e42,
    0 0 151px #3e3e42;
}

iframe{
    height: 450px;
    width: 100%;
}

section{
    display: block;
}

.map-heading{
    padding: 2.5rem 0 1rem ;
}

#map-wrapper {
    height: 390px;
    margin-bottom: 0px;
}

#map {
    height: 90%;
    width: 100%;
    border: none;
}

footer {
	background-color: #A9A9A9;
    height: 70px;
	padding: 1rem;
    margin-top: 50px;
    width: 100%;
    bottom: 0;
    right: 0;
	z-index: 3;
}

footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

.card{
    border: none;
}

ol{
    list-style: none;
}

@media screen and (max-width: 950px){
    .diagnose{
        text-align: left;
        overflow-x: hidden;
        overflow-y:auto;
    }
    
}